<form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm" role="form">
    <fieldset>
        <!-- Form Name -->
        <legend>Employee Sign Up</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="empid">Employee ID</label>
            <div class="col-md-4">
                <input id="empid" name="empid" placeholder="Employee ID" class="form-control input-md" [(ngModel)]="employee.employeeId" #employeeId="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="employeeId.touched && !employeeId.valid">Please specify Employee ID</div>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Title</label>
            <div class="col-md-4">
                <select id="selectbasic" name="selectbasic" class="form-control" [(ngModel)]="employee.gender" #gender="ngModel">
                    <option value="M">He</option>
                    <option value="F">She</option>
                    <option value="D">Don't want to disclose</option>
                </select>
                <div class="alert alert-danger" *ngIf="gender.touched && !gender.valid">Please specify Gender</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name</label>
            <div class="col-md-4">
                <input id="name" name="name" placeholder="Name" class="form-control input-md" required type="text" [(ngModel)]="employee.employeeName" #employeeName="ngModel">
                <div class="alert alert-danger" *ngIf="employeeName.touched && !employeeName.valid">Please specify Employee Name</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="design">Designation</label>
            <div class="col-md-4">
                <input id="design" name="design" placeholder="Designation" class="form-control input-md" required type="text" [(ngModel)]="employee.designation" #designation="ngModel">
                <div class="alert alert-danger" *ngIf="designation.touched && !designation.valid">Please specify Designation</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="dob">Date Of Birth</label>
            <div class="col-md-4">
                <input id="dob" name="dob" placeholder="Date Of Birth" class="form-control input-md" required type="text" [(ngModel)]="employee.dob" #dob="ngModel">
                <span class="help-block">format :DD/MM/YYYY</span>
                <div class="alert alert-danger" *ngIf="dob.touched && !dob.valid">Please specify Date Of Birth</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="design">Skill Set</label>
            <div class="col-md-4">
                <input id="skill" name="skill" placeholder="Skill Set" class="form-control input-md" required type="text" [(ngModel)]="employee.skillSet" #skillSet="ngModel">
                <div class="alert alert-danger" *ngIf="skillSet.touched && !skillSet.valid">Please specify Skill Set</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" placeholder="Email" class="form-control input-md" required type="text" [(ngModel)]="employee.email" #email="ngModel">
                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Please specify Email Id</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="mobile">Mobile</label>
            <div class="col-md-4">
                <input id="mobile" name="mobile" placeholder="Mobile" class="form-control input-md" required type="text" [(ngModel)]="employee.mobile" #mobile="ngModel">
                <div class="alert alert-danger" *ngIf="mobile.touched && !mobile.valid">Please specify Mobile Number</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Alternate Number</label>
            <div class="col-md-4">
                <input id="alternatenumber" name="alternatenumber" placeholder="Alternate Number" class="form-control input-md" [(ngModel)]="employee.alternateNumber" #alternateNumber="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="alternateNumber.touched && !alternateNumber.valid">Please specify Alternate Number</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="AddressLine1">Address Line1</label>
            <div class="col-md-4">
                <input id="AddressLine1" name="AddressLine1" placeholder="Address Line1" class="form-control input-md" required type="text" [(ngModel)]="employee.addressLine1" #addressLine1="ngModel">
                <div class="alert alert-danger" *ngIf="addressLine1.touched && !addressLine1.valid">Please specify Address 1</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="AddressLine2">Address Line2</label>
            <div class="col-md-4">
                <input id="AddressLine2" name="AddressLine2" placeholder="Address Line2" class="form-control input-md" [(ngModel)]="employee.addressLine2" #addressLine2="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="addressLine2.touched && !addressLine2.valid">Please specify Address 2</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="AddressLine3">Address Line3</label>
            <div class="col-md-4">
                <input id="AddressLine3" name="AddressLine3" placeholder="Address Line3" class="form-control input-md" [(ngModel)]="employee.addressLine3" type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="zipCode">ZipCode</label>
            <div class="col-md-2">
                <input id="zipCode" name="zipCode" placeholder="ZipCode" class="form-control input-md" [(ngModel)]="employee.zipCode" #zipCode="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="zipCode.touched && !zipCode.valid">Please specify ZipCode</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="country">Country</label>
            <div class="col-md-2">
                <input id="country" name="country" placeholder="Country" class="form-control input-md" [(ngModel)]="employee.country" #country="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="country.touched && !country.valid">Please specify Country</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="state">State</label>
            <div class="col-md-4">
                <input id="state" name="state" placeholder="State" class="form-control input-md" [(ngModel)]="employee.state" #state="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="state.touched && !state.valid">Please specify State</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fathername">Father Name</label>
            <div class="col-md-4">
                <input id="fathername" name="fathername" placeholder="Father Name" class="form-control input-md" [(ngModel)]="employee.fatherName" #fatherName="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="fatherName.touched && !fatherName.valid">Please specify Father Name</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="mothername">Mother Name</label>
            <div class="col-md-4">
                <input id="mothername" name="mothername" placeholder="Mother Name" class="form-control input-md" [(ngModel)]="employee.motherName" #motherName="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="motherName.touched && !motherName.valid">Please specify Mother Name</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fdob">Father Date Of Birth</label>
            <div class="col-md-4">
                <input id="fdob" name="fdob" placeholder="Father Date Of Birth" class="form-control input-md" [(ngModel)]="employee.fatherDob" #fatherDob="ngModel" required type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
                <div class="alert alert-danger" *ngIf="fatherDob.touched && !fatherDob.valid">Please specify Father Date Of Birth</div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fdob">Mother Date Of Birth</label>
            <div class="col-md-4">
                <input id="mdob" name="mdob" placeholder="Mother Date Of Birth" class="form-control input-md" [(ngModel)]="employee.motherDob" #motherDob="ngModel" required type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
                <div class="alert alert-danger" *ngIf="motherDob.touched && !motherDob.valid">Please specify Mother Date Of Birth</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="emergencycontactname">Emergency Contact Name</label>
            <div class="col-md-4">
                <input id="emergencycontactname" name="emergencycontactname" placeholder="Emergency Contact Name" class="form-control input-md" [(ngModel)]="employee.emergencyContactName" #emergencyContactName="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="emergencyContactName.touched && !emergencyContactName.valid">Please specify Emergency Contact Name</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="emergencycontactrelation">Emergency Contact Relation</label>
            <div class="col-md-4">
                <input id="emergencycontactrelation" name="emergencycontactrelation" placeholder="Emergency Contact Relation" class="form-control input-md" [(ngModel)]="employee.emergencyContactRelation" #emergencyContactRelation="ngModel" type="text">
                <div class="alert alert-danger" *ngIf="emergencyContactRelation.touched && !emergencyContactRelation.valid">Please specify Emergency Relation</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="emergencycontactnumber">Emergency Contact Number</label>
            <div class="col-md-4">
                <input id="emergencycontactnumber" name="emergencycontactnumber" placeholder="Emergency Contact Number" class="form-control input-md" [(ngModel)]="employee.emergencyContactNumber" #emergencyContactNumber="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="emergencyContactNumber.touched && !emergencyContactNumber.valid">Please specify Emergency Contact Number</div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="edob">Emergency Contact Date Of Birth</label>
            <div class="col-md-4">
                <input id="edob" name="edob" placeholder="Emergency Contact Date Of Birth" class="form-control input-md" [(ngModel)]="employee.emergencyContactDOB" #emergencyContactDOB="ngModel" required type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
                <div class="alert alert-danger" *ngIf="emergencyContactDOB.touched && !emergencyContactDOB.valid">Please specify Emergency Date Of Birth</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectApprover">Reporting Manager</label>
            <div class="col-md-4">
                <select id="selectApprover" name="selectApprover" class="form-control" [(ngModel)]="employee.reportingManager" #reportingManager="ngModel">
                    <option *ngFor="let a of approvers" value="{{a.name}}">{{a.name}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="reportingManager.touched && !reportingManager.valid">Please specify Reporting Manager</div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="send">Submit/Edit</label>
            <div class="col-md-4">
                <button id="send" name="send" type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
             </div>
        </div>

    </fieldset>
</form>
