<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <div class="user-info">
    <div class="image">
      <img src="./assets/images/user.png" width="48" height="48" alt="User" />
    </div>
    <div class="info-container">
      <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
      <div class="email">john.doe@example.com</div>
    </div>
  </div>
  <!-- #User Info -->
  <!-- Menu -->
  <kdir-sidemenu></kdir-sidemenu>
  <!-- #Menu -->
  
  <!-- Footer -->
  <kdir-footer></kdir-footer>
  <!-- #Footer -->
</aside>