<form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm" role="form">
    <fieldset>
        <!-- Form Name -->
        <legend>Submit Expense</legend>
        
<!--EMP -ID and EMP Name not required as windows auth will take care-->
    <!--     <div class="form-group">
            <label class="col-md-4 control-label" for="empid">Employee ID</label>
            <div class="col-md-4">
                <input id="empid" name="empid" placeholder="Employee ID" class="form-control input-md" [(ngModel)]="expense.employeeId" #employeeId="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="employeeId.touched && !employeeId.valid">Please specify Employee ID!</div>
            </div>
        </div>-->

        <!-- Text input-->
      <!--  <div class="form-group">
            <label class="col-md-4 control-label" for="name">Employee Name</label>
            <div class="col-md-4">
                <input id="name" name="name" placeholder="Employee Name" class="form-control input-md" [(ngModel)]="expense.employeeName" #employeeName="ngModel" required type="text">
                <div class="alert alert-danger" *ngIf="employeeName.touched && !employeeName.valid">Please specify Employee Name!</div>
            </div>
        </div>-->

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="edob">Expense Date</label>
            <div class="col-md-4">
                <input id="edob" name="edob" placeholder="Expense Date" class="form-control input-md" [(ngModel)]="expense.expenseDate" #expenseDate="ngModel" required type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
                <div class="alert alert-danger" *ngIf="expenseDate.touched && !expenseDate.valid">Please specify Expense Date!</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sdob">Submit Date</label>
            <div class="col-md-4">
                <input id="sdob" name="sdob" placeholder="Submit Date" class="form-control input-md" [(ngModel)]="expense.submitDate" #submitDate="ngModel" required type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
                <div class="alert alert-danger" *ngIf="submitDate.touched && !submitDate.valid">Please specify Submit Date!</div>
            </div>
        </div>
        <!--Readonly-->
        <!--<div class="form-group">
            <label class="col-md-4 control-label" for="adob">Approved Date</label>
            <div class="col-md-4">
                <input id="adob" name="adob" placeholder="Approved Date" readonly class="form-control input-md" type="text" [(ngModel)]="expense.approvedDate" #approvedDate="ngModel">
                <span class="help-block">format :DD/MM/YYYY</span>
                <div class="alert alert-danger" *ngIf="submitDate.touched && !submitDate.valid">Please specify Submit Date!</div>
            </div>
        </div>-->
        <!-- Expense Category -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectExpCategory">Expense Category</label>
            <div class="col-md-4">
                <select id="selectExpCategory" name="selectExpCategory" [(ngModel)]="expense.expCategory.categoryId" class="form-control">
                    <option *ngFor="let e of expCategories" value="{{e.categoryId}}">{{e.category}}</option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="amount">Amount</label>
            <div class="col-md-4">
                <input id="amount" name="amount" placeholder="Amount" class="form-control input-md" required type="text" [(ngModel)]="expense.amount" #amount="ngModel">
                <div class="alert alert-danger" *ngIf="amount.touched && !amount.valid">Please specify Amount!</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="totalAmount">Total Amount</label>
            <div class="col-md-4">
                <input id="totalAmount" name="totalAmount" placeholder="Total Amount" class="form-control input-md" required type="text" [(ngModel)]="expense.totalAmount" #totalAmount="ngModel">
                <div class="alert alert-danger" *ngIf="totalAmount.touched && !totalAmount.valid">Please specify Total Amount!</div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expenseDetails">Expense Details</label>
            <div class="col-md-4">
                <input id="expenseDetails" name="expenseDetails" placeholder="Expense Details" class="form-control input-md" required type="text" [(ngModel)]="expense.expenseDetails" #expenseDetails="ngModel">
                <div class="alert alert-danger" *ngIf="expenseDetails.touched && !expenseDetails.valid">Please specify Expense Details!</div>
            </div>
        </div>
        <!-- Upload input-->
      <!--  <div class="form-group">
            <label class="col-md-4 control-label" for="uploadDoc">Upload Documents</label>
            <div class="col-md-4">
                <input type="file" required #fileInput />
            </div>
        </div>-->

        <!--TODO:- This should be drop down as well Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectApprover">Reporting Manager</label>
            <div class="col-md-4">
                <select id="selectApprover" name="selectApprover" [(ngModel)]="expense.approverId" class="form-control">
                    <option *ngFor="let a of approvers" value="{{a.approverId}}">{{a.name}}</option>
                </select>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="send">Submit/Edit</label>
            <div class="col-md-4">
                <button id="send" name="send" type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
                <button id="cancel" name="cancel" type="button" class="btn btn-warning">Back</button>
            </div>
        </div>

    </fieldset>
</form>
