<h1> Your Expense Details</h1>
<p class="bg-success" style="padding:10px;margin-top:20px;clear:both">
    <a [routerLink]="['/my-expenses/']" class="btn btn-info"><i class="glyphicon glyphicon-backward"></i> Back</a>
</p>
<hr />
<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expid">Expense ID</label>
            <div class="col-md-4">
                <input id="expid" name="expid" placeholder="Expense ID" value="{{expenses.expenseId}}" class="form-control input-md" readonly type="text" #expIdInput>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="empid">Employee ID</label>
            <div class="col-md-4">
                <input id="empid" name="empid" placeholder="Employee ID" value="{{expenses.employeeId}}" class="form-control input-md" readonly type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Employee Name</label>
            <div class="col-md-4">
                <input id="name" name="name" placeholder="Name" value="{{expenses.employeeName}}" class="form-control input-md" readonly type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="edob">Expense Date</label>
            <div class="col-md-4">
                <input id="edob" name="edob" placeholder="Expense Date" value="{{expenses.expenseDate}}" class="form-control input-md" readonly type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sdob">Submit Date</label>
            <div class="col-md-4">
                <input id="sdob" name="sdob" placeholder="Submit Date" value="{{expenses.submitDate}}" class="form-control input-md" readonly type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!--Readonly-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adob">Approved Date</label>
            <div class="col-md-4">
                <input id="adob" name="adob" placeholder="Approved Date" value="{{expenses.approvedDate}}" required class="form-control input-md" readonly type="text" #approvedDate>
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!-- Expense Category -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectExpCategory">Expense Category</label>
            <div class="col-md-4">
                <select id="selectExpCategory" name="selectExpCategory" class="form-control">
                    <option value="{{expenses.expCategory.categoryId}}">{{expenses.expCategory.category}}</option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="amount">Amount</label>
            <div class="col-md-4">
                <input id="amount" name="amount" placeholder="Amount" value="{{expenses.amount}}" class="form-control input-md" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="totalamount">Total Amount</label>
            <div class="col-md-4">
                <input id="totalamount" name="totalamount" value="{{expenses.totalAmount}}" placeholder="Total Amount" class="form-control input-md" readonly type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expenseDetails">Expense Details</label>
            <div class="col-md-4">
                <input id="expenseDetails" name="expenseDetails" placeholder="Expense Details" value="{{expenses.expenseDetails}}" class="form-control input-md" readonly type="text">
            </div>
        </div>

        <!-- Upload input-->
        <!--     <div class="form-group">
                 <label class="col-md-4 control-label" for="docupload" >Upload Documents</label>
                 <div class="col-md-4">
                     <input type="file" #fileInput />
                 </div>
             </div>-->
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="approvername">Approver Name</label>
            <div class="col-md-4">
                <input id="approvername" name="approvername" placeholder="Approver Name" value="{{expenses.approverName}}" class="form-control input-md" readonly type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="status">Ticket Status</label>
            <div class="col-md-4">
                <input id="status" name="status" placeholder="Ticket Status" class="form-control input-md" value="{{expenses.ticketStatus}}" readonly #reasonInput type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="reason">Reason</label>
            <div class="col-md-4">
                <input id="reason" name="reason" placeholder="Reason" class="form-control input-md" value="{{expenses.reason}}" readonly #reasonInput type="text">
            </div>
        </div>
        <!--Doc View/Download -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="reason">Your Documents</label>
            <img *ngFor="let doc of docs" src="/uploads/{{doc.docName}}" class="img-thumbnail" style="width: 200px; height: 200px;" />
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="reason">Your PDF Documents</label>
            <iframe *ngFor="let pdf of pdfs" [src]="pdf.docName" style="width:300px; height:300px;" frameborder="0"></iframe>

        </div>
    </fieldset>
</form>
