<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for employees by Id or Name or Designation or Manager" #empIdInput/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                    <!--    <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="filter">Filter by</label>
                                        <select class="form-control">
                                            <option value="0" selected>All Employees</option>
                                            <option value="1">By Id</option>
                                            <option value="2">By Name</option>
                                            <option value="3">By Designation</option>
                                            <option value="4">By Manager</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">Input</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    $1$<div class="form-group">
                                        <label for="contain">Contains the words</label>
                                        <input class="form-control" type="text" />
                                    </div>#1#
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>-->
                        <button type="button" class="btn btn-primary" (click)="searchEmployee()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" (click)="clearEmployee()"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form *ngIf="showHide" class="form-horizontal" >
<fieldset *ngFor="let e of employees">
<!-- Form Name -->
<legend>Employee Details</legend>

<div class="form-group">
    <label class="col-md-4 control-label" for="empid">Employee ID</label>
    <div class="col-md-4">
        <input id="empid" name="empid" placeholder="Employee ID" value="{{e.employeeId}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Select Basic -->
<div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Gender</label>
    <div class="col-md-4">
        <select id="selectbasic" name="selectbasic" class="form-control">
            <option value="1">{{e.gender}}</option>
         </select>
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="name">Name</label>
    <div class="col-md-4">
        <input id="name" name="name" placeholder="Name" value="{{e.employeeName}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="design">Designation</label>
    <div class="col-md-4">
        <input id="design" name="design" placeholder="Designation" value="{{e.designation}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="dob">Date Of Birth</label>
    <div class="col-md-4">
        <input id="dob" name="dob" placeholder="Date Of Birth" value="{{e.dob}}" class="form-control input-md" required="" type="text">
        <span class="help-block">format :DD/MM/YYYY</span>
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="design">Skill Set</label>
    <div class="col-md-4">
        <input id="skill" name="skill" placeholder="Skill Set" value="{{e.skillSet}}" class="form-control input-md" required="" type="text">
    </div>
</div>
<!-- Select Basic -->
<!--<div class="form-group">
    <label class="col-md-4 control-label" for="EtatC">Etat Civil</label>
    <div class="col-md-4">
        <select id="EtatC" name="EtatC" class="form-control">
            <option value="1">Marié(e)</option>
            <option value="2">Divorcé(e)</option>
            <option value="3">Séparé(e)</option>
            <option value="4">Célibataire</option>
            <option value="5">Veuf(ve)</option>
        </select>
    </div>
</div>-->
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="email">Email</label>
    <div class="col-md-4">
        <input id="email" name="email" placeholder="Email" value="{{e.email}}" class="form-control input-md" required="" type="text">
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="email">Mobile</label>
    <div class="col-md-4">
        <input id="mobile" name="mobile" placeholder="Mobile" value="{{e.mobile}}" class="form-control input-md" required="" type="text">
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="email">Alternate Number</label>
    <div class="col-md-4">
        <input id="alternatenumber" name="alternatenumber" placeholder="Alternate Number" value="{{e.alternateNumber}}" class="form-control input-md" required="" type="text">
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="AddressLine1">Address Line1</label>
    <div class="col-md-4">
        <input id="AddressLine1" name="AddressLine1" placeholder="Address Line1" value="{{e.addressLine1}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="AddressLine2">Address Line2</label>
    <div class="col-md-4">
        <input id="AddressLine2" name="AddressLine2" placeholder="Address Line2" value="{{e.addressLine2}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="AddressLine3">Address Line3</label>
    <div class="col-md-4">
        <input id="AddressLine3" name="AddressLine3" placeholder="Address Line3" value="{{e.addressLine3}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="zipCode">ZipCode</label>
    <div class="col-md-2">
        <input id="zipCode" name="zipCode" placeholder="ZipCode" value="{{e.zipCode}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="country">Country</label>
    <div class="col-md-2">
        <input id="country" name="country" placeholder="Country" value="{{e.country}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="state">State</label>
    <div class="col-md-4">
        <input id="state" name="state" placeholder="State" value="{{e.state}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="fathername">Father Name</label>
    <div class="col-md-4">
        <input id="fathername" name="fathername" placeholder="Father Name" value="{{e.fatherName}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="mothername">Mother Name</label>
    <div class="col-md-4">
        <input id="mothername" name="mothername" placeholder="Mother Name" value="{{e.motherName}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="fdob">Father Date Of Birth</label>
    <div class="col-md-4">
        <input id="fdob" name="fdob" placeholder="Father Date Of Birth" value="{{e.fatherDOB}}" class="form-control input-md" required="" type="text">
        <span class="help-block">format :DD/MM/YYYY</span>
    </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="fdob">Mother Date Of Birth</label>
    <div class="col-md-4">
        <input id="mdob" name="mdob" placeholder="Mother Date Of Birth" value="{{e.motherDOB}}" class="form-control input-md" required="" type="text">
        <span class="help-block">format :DD/MM/YYYY</span>
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="emergencycontactname">Emergency Contact Name</label>
    <div class="col-md-4">
        <input id="emergencycontactname" name="emergencycontactname" placeholder="Emergency Contact Name" value="{{e.emergencyContactName}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="emergencycontactrelation">Emergency Contact Relation</label>
    <div class="col-md-4">
        <input id="emergencycontactrelation" name="emergencycontactrelation" placeholder="Emergency Contact Relation" value="{{e.emergencyContactRelation}}" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="emergencycontactnumber">Emergency Contact Number</label>
    <div class="col-md-4">
        <input id="emergencycontactnumber" name="emergencycontactnumber" placeholder="Emergency Contact Number" value="{{e.emergencyContactNumber}}" class="form-control input-md" required="" type="text">

    </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="edob">Emergency Contact DOB</label>
    <div class="col-md-4">
        <input id="edob" name="edob" placeholder="Emergency Contact DOB" value="{{e.emergencyContactDOB}}" class="form-control input-md" required="" type="text">
        <span class="help-block">format :DD/MM/YYYY</span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" for="reportingmanager">Reporting Manager</label>
    <div class="col-md-4">
        <input id="reportingmanager" name="reportingmanager" placeholder="Reporting Manager" value="{{e.reportingManager}}" class="form-control input-md" required="" type="text">

    </div>
</div>

<!-- Button -->
<div class="form-group">
    <label class="col-md-4 control-label" for="send">Edit/Remove</label>
    <div class="col-md-4">
        <button type="button" id="send" name="send" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>
    </div>
</div>

</fieldset>
</form>


