<main class="signup-page">
  <div class="signup-box">
    <div class="logo">
      <a href="javascript:void(0);">KDI <b>Reimbursement</b></a>
      <small>Registration</small>
    </div>
    <div class="card">
      <div class="body">
        <form id="sign_up" method="POST">
          <div class="kr-form-inputs">
            <!-- <md-form-field>
              <input name="expense-date" mdInput [mdDatepicker]="expenseDatePicker" placeholder="Expense Date" [(ngModel)]="expense.expenseDate" required="true">
              <md-datepicker-toggle mdSuffix [for]="expenseDatePicker"></md-datepicker-toggle>
              <md-datepicker #expenseDatePicker></md-datepicker>
            </md-form-field>
            

            <md-select name="category" placeholder="Expense Category" [(ngModel)]="expense.expCategory.categoryId" required="true">
              <md-option *ngFor="let exp of expCategories" [value]="exp.categoryId">
                {{ exp.category }}
              </md-option>
            </md-select>

            <md-form-field>
                <input name="amount" mdInput placeholder="Amount" [(ngModel)]="expense.amount" required="true">
            </md-form-field> -->

            <md-form-field>
              <input name="empid" mdInput placeholder="Employee ID" [(ngModel)]="employee.employeeId" required="true" type="text">
            </md-form-field>

            
          </div>

          <button md-raised-button class="btn btn-block btn-lg bg-pink" type="submit">SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
</main>