$signup-base-color: #00BCD4;

main {
    background-color: inherit;
    max-width: 680px;
    margin: 0 auto;
    .signup-box {
        .logo {
            a {
                color : $signup-base-color;
            }
            small {
                color : $signup-base-color;
            }
        }

        form {
            .kr-form-inputs-container {
                @media screen and (min-width: 900px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .kr-form-inputs {
                    box-sizing: border-box;
                    flex-basis: 40%;
                    md-select, md-form-field {
                        width: 100%;
                        padding: 10px 30px 10px 10px;
                    }
                }
            }
        }
        
    }
}