$signup-base-color: #00BCD4;

main {
    background-color: inherit;
    .signup-box {
        .logo {
            a {
                color : $signup-base-color;
            }
            small {
                color : $signup-base-color;
            }
        }

        form {
            .kr-form-inputs {
                display: flex;
                flex-direction: column;
                md-select, md-form-field {
                    width: 100%;
                    padding: 10px;
                }
            }
        }
        
    }
}