<main class="signup-page">
  <div class="signup-box">
    <div class="logo">
      <a href="javascript:void(0);">KDI <b>Reimbursement</b></a>
      <small>Registration</small>
    </div>
    <div class="card">
      <div class="body">
        <form id="sign_up" method="POST">
          <div class="input-group">
            <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
            <div class="form-line">
              <input type="text" class="form-control" name="namesurname" placeholder="Name Surname" required autofocus>
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
            <div class="form-line">
              <input type="email" class="form-control" name="email" placeholder="Email Address" required>
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
            <div class="form-line">
              <input type="password" class="form-control" name="password" minlength="6" placeholder="Password" required>
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
            <div class="form-line">
              <input type="password" class="form-control" name="confirm" minlength="6" placeholder="Confirm Password" required>
            </div>
          </div>

          <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
</main>