<!-->

<kdir-header></kdir-header>

<kdir-sidenav></kdir-sidenav>

<ng-content></ng-content>

<kdir-footer></kdir-footer>

<!-->


<main class="theme-red">
  <div class="search-bar">
    <div class="search-icon">
      <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
      <i class="material-icons">close</i>
    </div>
  </div>
  <!-- #END# Search Bar -->
  <kdir-header></kdir-header>

  <kdir-sidenav></kdir-sidenav>

  <section class="content">
    <div class="container-fluid">
      <ng-content></ng-content>
    </div>
  </section>

</main>