form {
    .kr-form-inputs {
        display: flex;
        flex-direction: column;
        md-select, md-form-field {
            width: 100%;
            padding: 10px;
        }
    }
    button {
        color: white;
        margin-left: 10px;
    }
}
